<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=utf8" />

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />

		<!-- The main CSS file -->

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <!-- CSS (load bootstrap) -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules\ui-navbar\release\css\ui-navbar.css" />
	<link rel="stylesheet" href="app/css/customStyles.css" />
    <style>
        .navbar { border-radius:0; }
    </style>
	</head>

	<body ng-app="BlankApp" ng-cloak >

		  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
		  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		  <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
			<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
			<script src="node_modules/ui-navbar/release/js/ui-navbar.min.js"></script>
			<script src="node_modules\angular-route/angular-route.min.js"></script>

		  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		   <script src="app/views/addGame/controllerAddGame.js"></script>
		   <script src="app/views/gamesList/controllerGames.js"></script>
		   <script src="app/views/myPage/controllerMyPage.js"></script>
		   <script src="app/views/rank/controllerRank.js"></script>
		   <script src="app/views/register/controllerRegister.js"></script>
		   <script src="app/main/app.js"></script>
		   <script src="node_modules\ui-navbar\release\js\ui-navbar.js"></script>

		<div class="nav-bar-container" ng-controller="NavigationController">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">FussBall</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav">
            <li uib-dropdown="">
              <a href="#" uib-dropdown-toggle="">
                        Media
											 <b class="caret"></b>
              </a>
              <tree tree="tree"></tree>
            </li>
            <li ng-class="{ active: isActive('/rules')}"><a ui-sref="rules">Taisyklės</a></li>
			<li ng-class="{ active: isActive('/score')}"><a ui-sref="score">Rezultatai</a></li>
			<li ng-class="{ active: isActive('/rank')}"><a ui-sref="rank">Rankingas</a></li>
			<li ng-class="{ active: isActive('/addGame')}"><a ui-sref="addGame">Pridėti žaidimą</a></li>
          </ul>
		  <div id="logedin" ng-show="logedinValue">
			  <ul class="nav navbar-nav navbar-right">

						<li ng-class="{ active: isActive('/myPage')}"><a ui-sref="myPage">Dainius</a></li>

						<button type="submit" class="btn btn-default logout-button" ng-click="logedin()">Logout</button>
						</ul>
		</div>
		<div id="logedout" ng-show="logedoutValue">
					<form class="navbar-form navbar-right" role="search">
					 <ul class="nav navbar-nav navbar-right">

					<div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
                    <button ui-sref="register" type="submit" class="btn btn-default">Register</button>
					</ul>
					</form>
		<div>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </div>
    <!-- Hook here the partials -->


	<div class="container" style="background-color:''">
    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
			<div ui-view style="background-color: '#d3d3d3';"></div>


 </div>

	</body>
</html>
