<div ng-cloak >
<h2 style="text-align: center">Paskutinių 5 žaidimų rezultatai</h2>
<br >

   <md-content>
		<div style="margin:0 auto;">
		<table id="cssTable">
		  <tr>
			<th>Komanda #1</th>
			<th>Rezultatas</th>
			<th>Komanda #2</th>
		  </tr>
		  <tr style="text-align: center" ng-repeat="game in games track by $index"
		  ng-style="{
            'background': tile.color
            }"
            md-colspan-gt-sm="{{tile.colspan}}"
            md-rowspan-gt-sm="{{tile.rowspan}}">
			<td height = "100px" width = "50%">
				<p>{{game.team1user1}}</p>
				<p>{{game.team1user2}}</p>
			</td>
			<td height = "100px">{{game.team1score}} - {{game.team2score}}</td>
			<td height = "100px" width = "50%">
				<p>{{game.team2user1}}</p>
				<p>{{game.team2user2}}</p>
			</td>
		  </tr>
		</table>
		</div>
	 </md-content>
	 <br>
	 <br>
	 <h2>Statistika</h2>
	 <h3 >Geriausia vieta: 4</h2>
	 <h3 >Laimeta is eiles: 2</h2>
	 <h3 >Pralaimeta is eiles: 0</h2>
	 <h3 >Laimejimo procentas: 40%</h2>
</div>