<div ng-controller="AppCtrl as appCtrl" ng-cloak>
 <p align="center">
    <strong>STALO FUTBOLO ŽAIDIMO TAISYKLĖS</strong>
</p>
<p>
    <strong></strong>
</p>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    1. 1-oji linija. Pirmoji linija – eilė, kurioje išdėstyti 2 futbolininkai ir vartininkas (gynyba).
</p>
<p align="center">
    2. 2-oji linija. Antroji linija – eilė, kurioje išdėstyti 5 futbolininkai.
</p>
<p align="center">
    3. 3-oji linija. Trečioji linija - eilė, kurioje išdėstyti 3 futbolininkai (puolimas).
</p>
<p>
    <strong>1. </strong>
    <strong>ŽAIDIMO PRADŽIA</strong>
</p>
<p>
    Žaidimas pradedamas monetos metimu, kad žaidėjų komandos išsirinktų kurioje pusėje žais arba kam priklausys pirmasis kamuoliuko padavimas.
</p>
<p>
    Laimėjusioji komanda turi teise rinktis žaidimo pusę arba kamuoliuko padavimą.
</p>
<p>
    <strong>2. PRADŽIOS PASKELBIMAS</strong>
</p>
<p>
    2.1. Prieš kiekvieną padavimą žaidėjai valdantys kamuoliuką pasiteirauja ar priešininkai yra pasiruošę. Priešininkas turi 5 sekundes atsakymui:
    „pasiruošęs“ arba „ne“. Kamuoliukas jau turi būti aikštelėje, ties 2-ąja linija. Žaidimas prasideda iš kart, kai oponentai atsako, kad „pasiruošę“.
</p>
<p>
    <strong>3. KAMUOLIUKO PADAVIMAS</strong>
</p>
<p>
    3.1. Kamuoliuko padavimas į žaidimą atliekamas bet viduriniuoju 2-os eilės žaidėju.
</p>
<p>
    3.2. Pirmiausia kamuoliukas turi paliesti mažiausiai du 2-os linijos žaidėjus, prieš atliekant perdavimą.
    <br/>
    3.3. Kamuoliuko padavimas atliktas ne pagal taisykles laikomas taisyklių pažeidimu, ir kamuoliuko padavimas atitenka priešininkų komandai.
</p>
<p>
    3.4. Jei kamuoliukas iškrenta iš žaidimo lauko, į žaidimą jį paduoda priešininkų komanda su perdavimu 1-oje linijoje.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>4. REZULTATAS</strong>
</p>
<p>
    4.1. Įvartis įskaitomas tada, kai kamuoliukas kerta vartų liniją. Po įvarčio kamuoliukas perduodamas komandai, kuri praleido įvartį į savo vartus.
</p>
<p>
    4.3. Įvartis neįskaitomas jei 2-os linijos žaidėjai iškart po kamuoliuko padavimo įmuša įvartį (žr. taisyklę 3.2).
</p>
<p>
    4.4. Įvartis neįskaitomas jei įmuštas ne pagal taisykles. Kamuoliukas tokiu atveju perduodamas priešininkų komandai.
</p>
<p>
    4.5. Jei kamuoliukas po smūgio įlėkė į vartus ir iššoko atgal, įvartis įskaitomas ir kamuoliukas perduodamas komandai praleidusiai įvartį.
</p>
<p>
    4.6. Įvartis įmuštas į savo vartus užskaitomas visais atvejais.
</p>
<p>
    4.7. Atrankinės rungtynės vyksta iki 2 pergalių. Finalo ir pusfinalio rungtynės iki 3 pergalių.
</p>
<p>
    <strong>5. MIRTIES ZONA</strong>
</p>
<p>
    5.1. Kamuoliukas patenka į „mirties zoną“ tada, kai sustoja, ir nei viena komanda savo žaidėjais negali jo pasiekt.
</p>
<p>
    5.2. Kamuoliukui patekus į „mirties zoną“ bet kurioje vietoje tarp 2-ųjų linijų, kamuoliukas perduodamas tai komandai, kuri jį padavė paskutinė, ir
    žaidimas pradedamas pagal 3.1 taisyklių punktą.
</p>
<p>
    5.3. Jei kamuoliukas sustoja „mirties zonoje“ tarp 2-os linijos ir vartininko, kamuoliukas paduodamas nuo artimiausių vartų, su perdavimu 1-oje linijoje.
</p>
<p>
    <strong>6. PERTRAUKĖLĖ</strong>
</p>
<p>
    6.1. Kiekviena iš komandų vieno žaidimo eigoje gali prašyti dviejų pertraukėlių po 30 sekundžių.
</p>
<p>
    6.2. Pertraukėlės galima prašyti sustabdžius kamuoliuką, po įvarčio, kamuoliukui palikus žaidimo aikštelę arba sustojus „mirties zonoje“.
</p>
<p>
    6.3. Komanda valdanti kamuolį pertraukėlės gali paprašyti bet kuriuo metu, sustabdžiusi kamuoliuką (kamuoliukas prispaustas žaidėju prie aikštelės).
    <br/>
    Po pertraukėlės žaidimas tęsiamas iš tos pačios pozicijos, kur ir buvo sustabdytas atliekant perdavimą toje pačioje eilėje.
</p>
<p>
    <br/>
    <strong>7. TAISYKLIŲ PAŽEIDIMAI</strong>
</p>
<p>
    7.1. Daugkartinis rankenėlių su žaidėjais persukimas aplink savo ašį yra draudžiamas. Persukimas, tai – kai rankenėlė persukama 360° prieš arba po žaidėjo
    kontakto su kamuoliu.
</p>
<p>
    7.2. Draudžiama žaidimo metu kilnoti ar stumdyti žaidimo stalą, sukioti rankenas bei kitomis priemonėmis trukdyti priešininkams.
</p>
<p>
    7.3. Draudžiama kalbinti, įžeidinėti ar kitaip trukdyti savo priešininkams.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>8. APSIKEITIMAS ŽAIDIMO PUSĖMIS</strong>
</p>
<p>
    8.1. Po kiekvienų rungtynių komandos gali apsikeisti žaidimo pusėmis. Jei komandos apsikeitė pusėmis vienąkart, tai ir toliau privalo keistis žaidimo
    pusėmis iki tarpusavio rungtynių pabaigos.
</p>
<p>
    8.2. Komandos tarp rungtynių turi teisę ilsėtis 1,5 minutės. Jeigu viena iš komandų nusprendė ilsėtis trumpiau, vis tiek turi sulaukti kol priešininkų
    komanda bus pasiruošusi žaidimui, bet ne ilgiau nei 1,5 minutės nuo praėjusių rungtynių.
</p>
<p>
    8.3. Jeigu komanda nepasiruošusi žaidimui po 1,5 minutės, ji gali būti apkaltinta žaidimo užlaikymu.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>9. POZICIJŲ KEITIMAS</strong>
</p>
<p>
    9.1. Kiekvienas iš žaidėjų gali žaisti tik tomis figūrėlėmis, kurios priskiriamos vienai ar kitai pozicijai (gynėjas: 1-oji eilė, puolėjas: 2-oji ir 3-ioji
    eilės).
</p>
<p>
    9.2. Keitimą galima atlikti tik po įmušto įvarčio, pertraukėlės metu, kamuoliukui palikus žaidimo aikštelę arba patekus į „mirties zoną“.
</p>
<p>
    9.3. Žaidėjai pasikeitę pozicijomis, negali grįžti į pradines pozicijas iki tol, kol nebus vėl sustabdytas žaidimas.
</p>
<p>
    <strong>10. NUOBAUDOS</strong>
</p>
<p>
    10.1. Už įvairius paminėtus nusižengimus žaidimo metu yra skiriamos nuobaudos.
</p>
<p>
    10.2. Surinkus dvi nuobaudas, prasižengusių žaidėjų komanda baudžiama baudos smūgiu nuo 3-ios linijos.
</p>
<p>
    10.3. Žaidėjams pageidaujant organizatoriai paskiria teisėją.
</p>
<p>
    <br/>
    Teisėjo sprendimai yra neginčijami !
    <br/>
    <br/>
    <br/>
    2008 © <strong>Nacionalinė Stalo Futbolo Federacija</strong>. Visos teisės saugomos. <a href="http://www.stalofutbolas.lt/">www.stalofutbolas.lt</a>
</p>
</div>