<div ng-cloak>
   
   <h1 style="text-align: center">Užregistruoti naują rezultatą</h1>
   
   <h3 style="text-align: center"><b>#1 Komanda</b></h3>
   <br>
   <br>
   
   
   <table id="cssTable">
		  <tr>
			<th>Pirmas žaidėjas</th>
			<th>Antras žaidėjas</th>
			<th>Rezultatas</th>
		  </tr>
		  <tr style="text-align: center"   ng-style="{
            'background': '#FAFAFA'
            }">
			<td height = "100px" style='width:400px;'>
				<div class="styled-select">
				<select ng-model="player1">
					<option value="{{user.username}}" ng-repeat="user in users">{{user.username}}</option>
				</select>
				</div>
			</td>
			<td height = "100px" style='width:400px;'>
				<div class="styled-select">
				<select ng-model="player2">
					<option value="{{user.username}}" ng-repeat="user in users">{{user.username}}</option>
				</select>
				</div>
			</td>
			<td height = "100px" style='width:400px;'>
				<input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="score1" ng-model="score1"><br>
			</td>
		  </tr>
		</table>
		<br>
		<br>
		<br>
		<h3 style="text-align: center"><b>#2 Komanda</b></h3>
		<br>
		<table id="cssTable">
		  <tr>
			<th>Pirmas žaidėjas</th>
			<th>Antras žaidėjas</th>
			<th>Rezultatas</th>
		  </tr>
		  <tr style="text-align: center" ng-style="{
            'background': '#FAFAFA'
            }"> 
			<td height = "100px" style='width:400px;'>
				<div class="styled-select">
				<select ng-model="player3">
					<option value="{{user.username}}" ng-repeat="user in users">{{user.username}}</option>
				</select>
				</div>
			</td>
			<td height = "100px" style='width:400px;'>
				<div class="styled-select">
				<select ng-model="player4">
					<option value="{{user.username}}" ng-repeat="user in users">{{user.username}}</option>
				</select>
				</div>
			</td>
			<td height = "100px" style='width:400px;'>
				<input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="score2" ng-model="score2"><br>
			</td>
		  </tr>
		</table>
		<br>
		<br>
		<div style="text-align:center;">
			<button class="btn btn-primary submit-button-addGame" ng-click="submit()">Patvirtinti</button>
		</div>

    
</div>