<div  ng-cloak>
   
<h2 style="text-align: center">Paskutinių rungtynių rezultatai</h2>
<br>
   <md-content>

		<table id="cssTable" ng-hide="admin()">
		  <tr>
			<th>Komanda #1</th>
			<th>Rezultatas</th>
			<th>Komanda #2</th>
		  </tr>
		  <tr class="border_bottom" style="text-align: center" ng-repeat="game in games"
		  ng-style="{
            'background': tile.color
            }"
            md-colspan-gt-sm="{{tile.colspan}}"
            md-rowspan-gt-sm="{{tile.rowspan}}">
			<td height = "100px" width = "50%">
				<p>{{game.team1user1}}</p>
				<p>{{game.team1user2}}</p>
			</td>
			<td height = "100px">{{game.team1score}} - {{game.team2score}}</td>
			<td height = "100px" width = "50%">
				<p>{{game.team2user1}}</p>
				<p>{{game.team2user2}}</p>
			</td>
		  </tr>
		</table>

		<table id="cssTable" ng-show="admin()">
		  <tr>
			<th>Komanda #1</th>
			<th>Rezultatas</th>
			<th>Komanda #2</th>
		  </tr>
		  <tr class="border_bottom" style="text-align: center" ng-repeat="game in games"
		  ng-style="{
            'background': tile.color
            }"
            md-colspan-gt-sm="{{tile.colspan}}"
            md-rowspan-gt-sm="{{tile.rowspan}}">
			<td height = "100px" width = "50%">
				<p><a href="#/myPage?userId={{game.team1user1}}">{{game.team1user1}}</a></p>
				<p><a href="#/myPage?userId={{game.team1user2}}">{{game.team1user2}}</a></p>
			</td>
			<td height = "100px">{{game.team1score}} - {{game.team2score}}</td>
			<td height = "100px" width = "50%">
				<p><a href="#/myPage?userId={{game.team2user1}}">{{game.team2user1}}</a></p>
				<p><a href="#/myPage?userId={{game.team2user2}}">{{game.team2user2}}</a></p>
			</td>
			<td ng-show="admin()" width = "10%">
				<button class="btn btn-danger submit-button-addGame" ng-click="deleteGame(game.gameId)">Istrinti</button>
			</td>
		  </tr>
		</table>
	 </md-content>
</div>
